<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
    <title>Document</title>
    <style>   
Body {  
  font-family: Calibri, Helvetica, sans-serif;  
  background-color: rgb(41, 36, 37);  
}  
button {   
       background-color: #4CAF50;    
        color: white;   
        padding: 15px;   
        margin: 10px 0px;   
        border: none;   
        cursor: pointer;
        border-radius: 15px;   
         }     
 input[type=email], input[type=password] {   
        width: 100%;   
        margin: 8px 0;  
        padding: 12px 20px;   
        display: inline-block;   
        border: none;
        border-radius: 15px;   
        box-sizing: border-box;   
    }  
 button:hover {   
        opacity: 0.7;   
    }    

.check {
    display: inline-block;
}        
     
 .container {   
        padding: 25px;   
        background-color: rgb(34, 37, 38);  
    } 

    .containers {
        max-width: 400px;
        margin: auto;
        padding-top: 50px;
    }  
</style>
</head>
<body>
    {{>navbar}}
    <div class="container">      
        <div class="containers">   
        <center> <h1> Login </h1> </center>   
            <form action="/login" method="POST">  
                <label>Email : </label>   
                <input type="email" placeholder="Email" name="email" required>  
                <label>Password : </label>   
                <input type="password" placeholder="Enter Password" name="password" required>       
                <button type="submit">Login</button>   
            </form>     
        </div>   
    </div>
        
</body>
</html>